<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <listeners>
        <!--<listener class-name="RetryListener" />-->
        <listener class-name="com.mckinsey.listeners.ScreenshotListener" />
    </listeners>

    <test name="Functional - Login Test">
        <classes>
            <class name="com.mckinsey.functional_tests.LoginTest"/>
        </classes>
    </test>

    <test name="API Tests - Verify Country">
        <classes>
            <class name="com.mckinsey.api_tests.APIDemoTest" />
        </classes>
    </test>
</suite>
